body {
    background-color: #d7dfe6;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #333;
}

input[type="text"] {
    height: 40px;
    width: 78%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    border: none;
    height: 40px;
    width: 20%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5cbe61;
}

button:active {
    background-color: #34b838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
